body {
  background-color: #fffbf3;
}

/* forside - portfolio */
.overskrift {
  font-size: 180px;
}

/* h1'er */
.tekst_i_midten {
  font-size: 72px; /* overskrift stor */
  text-align: center; /* teksten i midten */
  margin: 80px 0 40px; /* luft over og under */
}

/* header */
.menu {
  position: sticky;
  margin-left: 0;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #fffbf3;
}

.menu a {
  text-decoration: none;
  color: #111;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.menu a:hover {
  color: grey;
}
