body {
  background-color: #fffbf3;
}

main {
  max-width: 1600px;
  margin: 0 auto;
}

/* forside - portfolio */
.overskrift {
  font-size: 180px;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 20px; /* mellemrum mellem bogstaverne */
  margin-top: 400px; /* rykker overskrift længere ned */
  line-height: 160px;
  margin-bottom: 40px;
}

/* h1'er */
.tekst_i_midten {
  font-size: 72px; /* overskrift stor */
  text-align: center; /* teksten i midten */
  margin: 80px 0 40px; /* luft over og under */
}

/* header */
.menu {
  position: sticky;
  margin-left: 350px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background-color: #fffbf3;
}

.menu a {
  text-decoration: none;
  color: #111;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.menu a:hover {
  color: grey;
}

/*om mig side*/
